/* 네비게이션바 스타일 */
#menubar {
    background: rgba(92, 185, 242, 0.8);
    padding: 10px 0;
    position: relative;
    z-index: 10;
    text-align: center;
}
#menubar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
#menubar ul li {
    display: inline;
    margin: 0 15px;
}
#menubar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#menubar ul li a:hover {
    color: #F2506E;
}

body {
    margin: 0; /* 기본 마진 제거 */
    background-image: linear-gradient(45deg, #5CB9F2, #fff, #f7b7b7); /* 원하는 그라데이션 설정 */
    background-size: 100% 100%; /* 그라데이션이 화면을 꽉 채우도록 설정 */
    background-position: center; /* 그라데이션의 중심이 화면의 중앙에 오도록 설정 */
    background-repeat: no-repeat; /* 그라데이션이 반복되지 않도록 설정 */
    height: auto; /* 콘텐츠에 맞춰 높이가 조정되도록 설정 */
    min-height: 100vh; /* 최소 높이를 화면 크기만큼 설정하여 화면을 꽉 채움 */
}